[Unit]
Description=Inno Notification Agent
Documentation=https://github.com/SykikXO/inno
After=graphical-session.target

[Service]
ExecStart=/usr/bin/inno
Restart=always

[Install]
WantedBy=default.target
